.App {
  text-align: center;
  color: white;

}

.clock-outer-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  /* align-items: flex-end; */
  /* Uncomment above if you want the titles and actual time on the screen*/
  /* The css below will vertically center the clock */
  align-items: center;
  height: 100vh;
}


.clock-inner-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 2rem;
}


@media(max-width: 768px) {
  .clock-inner-container {
    margin: 0 .5rem;
  }
}


/* @media(max-height: 768px) {
  .clock-inner-container {

    align-items:flex-end;

  }
} */
